# Back End
backend/.env
backend/node_modules/*
backend/package-lock.json
# Front End
frontend/node_modules/*
frontend/package-lock.json
frontend/.env
# Mobile App
MobileApp/node_modules/*
MobileApp/package-lock.json